<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="commons/_meta::meta"/>
    <title>用户管理</title>
    <style>
        .table td {
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
    用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r"
                                                     style="line-height:1.6em;margin-top:3px"
                                                     href="javascript:location.replace(location.href);"
                                                     title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div class="text-c"> <!--日期范围：
        <input type="text"
               onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })"
               id="datemin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text"
               onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })"
               id="datemax" class="input-text Wdate" style="width:120px;">-->

        <!--<input type="text" class="input-text" style="width:250px"
               placeholder="输入会员名称、电话、邮箱" id="" name="">
        <button type="submit" class="btn btn-success radius" id="" name=""><i
                class="Hui-iconfont">&#xe665;</i> 搜用户
        </button>-->
    </div>
    <!--<div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
        <a href="javascript:;"
           onclick="datadel()"
           class="btn btn-danger radius"><i
                class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
        <a href="javascript:;"
           onclick="member_add('添加用户','member-add.html','','510')"
           class="btn btn-primary radius"><i
                class="Hui-iconfont">&#xe600;</i> 添加用户</a></span> <span
            class="r">共有数据：<strong>88</strong> 条</span>
    </div>-->
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="80">ID</th>
                <th width="100">userId</th>
                <th width="100">用户昵称</th>
                <th width="100">手机号</th>
                <th width="40">会员等级</th>
                <th width="70">状态</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div th:include="commons/_footer.html::footer"/>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript"
        src="/lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" th:inline="none">
    $(function () {
        new Promise((resolve, reject) => {
            $.ajax({
                url: "/vip/list",
                type: "GET",
                success(res) {
                    resolve(res.data)
                }
            })
        }).then(names => {
            render(names)
        })
    });

    function render(names) {
        $('.table-sort').dataTable({
            ajax: {
                url: "/userInfo/list",
                dataSrc: function (res) {
                    return res.data;
                }
            },
            columns: [
                {"data": "id"},
                {"data": "userId"},
                {"data": "name"},
                {"data": "phone"},
                {"data": "vid"},
                {"data": "state"},
                {"data": ""}
            ],
            "aaSorting": [[0, "asc"]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable": false, "aTargets": [1, 2, 3, 4, 5, 6]},// 制定列不参与排序
                {
                    "aTargets": [5],
                    "mRender": function (settings, rowIdx, rec, type) {
                        let html;

                        if (rec.state === 1) {
                            html = "<span class=\"label label-success radius\">正常</span>";
                        } else {
                            html = "<span class=\"label label-danger radius\">已封禁</span>"
                        }
                        // else {
                        //     html = "<span class=\"label label-warning radius\">商家</span>"
                        // }

                        return html;
                    }
                },
                {
                    "aTargets": [6],
                    "mRender": function (settings, rowIdx, rec, type) {
                        let html;
                        if (rec.state == 1) {
                            html = "<a style=\"text-decoration:none\"\n" +
                                "       onClick=\"member_stop(this,'10001')\"\n" +
                                "       href=\"javascript:;\" title=\"封禁\"><i\n" +
                                "            class=\"Hui-iconfont\">&#xe631;</i>\n" +
                                "    </a>"
                        } else {
                            html = "<a style=\"text-decoration:none\" href=\"javascript:;\"\n" +
                                "       onClick=\"member_start(this,'1')\" title=\"解封\"><i\n" +
                                "            class=\"Hui-iconfont\">&#xe66b;</i>\n" +
                                "    </a>"
                        }
                        return html;
                    }
                },
                {
                    "aTargets": [4],
                    "mRender": function (settings, rowIdx, rec, type) {
                        return names.find(item => item.id === rec.vid).name
                    }
                }
            ]
        });
    }

    /*用户-添加*/
    function member_add(title, url, w, h) {
        layer_show(title, url, w, h);
    }

    /*用户-查看*/
    function member_show(title, url, id, w, h) {
        layer_show(title, url, w, h);
    }

    /*用户-封禁*/
    function member_stop(obj, id) {
        layer.confirm('确认要封禁该用户吗？', function (index) {
            $.ajax({
                type: 'PUT',
                url: '/userInfo',
                data: {
                    state: 0,
                    id: $(obj).parents("tr").find(".sorting_1").text()
                },
                dataType: 'json',
                success: function (data) {
                    // $(obj).parent().html('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="解封"><i class="Hui-iconfont">&#xe66b;</i></a>');
                    // $(obj).parent().prev().html('<span class="label label-defaunt radius">已封禁</span>');
                    // $(obj).remove();
                    // layer.msg('已封禁!', {icon: 5, time: 1000});
                    location.replace(location.href)
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        });
    }

    /*用户-启用*/
    function member_start(obj, id) {
        layer.confirm('确认要解封该用户吗？', function (index) {
            $.ajax({
                type: 'PUT',
                url: '/userInfo',
                data: {
                    id: $(obj).parents("tr").find(".sorting_1").text()
                },
                dataType: 'json',
                success: function (data) {
                    // $(obj).parent().html('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
                    // $(obj).parents("tr").find("td").eq(3).html('<span class="label label-success radius">正常</span>');
                    // $(obj).remove();
                    // layer.msg('已解封!', {icon: 6, time: 1000});
                    location.replace(location.href)
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        });
    }

    /*用户-编辑*/
    function member_edit(title, url, id, w, h) {
        layer_show(title, url, w, h);
    }

    /*密码-修改*/
    function change_password(title, url, id, w, h) {
        layer_show(title, url, w, h);
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: '',
                dataType: 'json',
                success: function (data) {
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', {icon: 1, time: 1000});
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        });
    }
</script>
</body>
</html>