<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="commons/_meta::meta"/>

    <title>添加会员</title>
</head>
<body>
<article class="page-container">
    <form action="/question" method="post" class="form form-horizontal"
          id="form-member-add">
        <input type="text" name="id" id="id" hidden>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span
                    class="c-red">*</span>问题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder=""
                       id="name" name="name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span
                    class="c-red">*</span>类型：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box"
                                                               style="width:150px;">
			<select id="type" class="select" name="type" size="1">
				<option value="0">常见问题</option>
				<option value="1">支付问题</option>
				<option value="2">设备维修</option>
				<option value="3">租赁保障</option>
			</select>
			</span></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span
                    class="c-red">*</span>答案：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea id="answer" name="answer" cols="" rows="" class="textarea"
                          placeholder="500个字符以内" dragonfly="true"
                          onKeyUp="$.Huitextarealength(this,500)"></textarea>
                <!--                <p class="textarea-numberbar"><em class="textarea-length">0</em>/500</p>-->
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit"
                       value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
<div th:include="commons/_footer.html::footer"/>


<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript"
        src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript"
        src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript"
        src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form-member-add").validate({
            rules: {
                name: {
                    required: true,
                },
                answer: {
                    required: true,
                },
                type: {
                    required: true,
                },
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                $(form).ajaxSubmit();
                // $(form).submit()
                // let index = parent.layer.getFrameIndex(window.name);
                // parent.$('.btn-refresh').click();
                window.parent.location.reload();
                // parent.layer.close(index);
            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>